$black: #161b1f;
$font-color: #b98d72;

* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 10vh;

    .logo {
       padding-left: 3rem;

       img {
           width: 3em;
           height: 3em;
       }
    }

    ul {
        list-style-type: none;
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            padding: 2em 3em;
            height: 100%;
        }
        li:hover a {
            color: rgb(167, 61, 61);
        }

        a {
            color: $font-color;
            font-size: 1.7em;
        }

    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    

    .bg {
        
        width: 100%;
        height: 90vh;
        
        z-index: -2;

        .img-slide {
            width: 100%;
            height: 90vh;
        }
    }

    .vine-bg {
        background: #57233a ;
        // background:rgb(0,0,0) linear-gradient(354deg, rgba(0,0,0,1) 10%, rgba(255,0,91,1) 100%);
        width: 100%;
        height: 200rem;
        position: absolute;
        z-index: -7;
    }

    .home-title {
        font-family: 'Parisienne', cursive;
        position: absolute;
        top: 10%;
        right: 10%;
        color: #fff;
        text-align: center;

        h1 {
            font-size: 10rem;
        }

        h3 {
            font-size: 5rem;
        }
    }
    

    .bottle {
        position: relative;
        height: 30vh;
        width: 100%;
        background-color: $black;
        margin-top: 100px;
        color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: -60px;
            left: 95px;
            width: 20em;
            height: 25em;
            transform: skew(0deg, 0deg);
        }
        .bottle-text {
            width: 70%;
            text-align: right;
            position: absolute;
            // right: auto;
            font-size: 3rem;
        }
    }

    .bottle-2 {
        position: relative;
        height: 30vh;
        width: 100%;
        background-color: $black;
        margin-top: 100px;
        color: $font-color;
        display: flex;
        justify-content: center;
        align-items: center;
        

        img {
            position: absolute;
            top: -60px;
            right: 95px;
            width: 20em;
            height: 25em;
            transform: skew(0deg, 0deg);
        }

        .bottle-text {
            width: 70%;
            text-align: left;
            font-size: 3rem;
        }
    }
}

.holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.vine__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 22rem;
        height: 30rem;
    }
}

.vine__desc {
    width: 100%;
    height: 80vh;
    display: flex;
    margin: 2rem;
    padding-left: 6rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #57233a;
    background-color: #b98d724f;
    
    .vine__desc-title {
        font-size: 5rem;
        margin: 4rem 0;
        border-bottom: 4px solid $black;
        
    }

    h3 {
        padding-top: 2rem;
        font-size: 1.4rem;
        width: 70%;
        line-height: 1.5;

        span {
            font-size: 1.6rem;
            padding-right: 1rem;
        }
    }
    
}